<a href="https://colab.research.google.com/github/vedasri2511/ML_153/blob/main/ML_LAB_153.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
df.head
df.describe()
uci repository
cross validation
scikit learn
scikit learn documentation
random_state: it helps to see the same output after training the model
to evaluate the model we use accuracy.2f
steps involved in ml are:
1. data aquring
2. data preprocessing or importing or collecting the data
3. divide the data in terms of training and testing
4. training the model
5. test the model

SyntaxError: invalid decimal literal (ipython-input-2-3149321376.py, line 8)

In [ ]:
import pandas as pd
data = {
    '2014': [100.5, 150.8, 200.9, 30000, 40000],
    '2015': [12000, 18000, 22000, 30000, 45000],
    '2016': [20000, 50000, 70000, 100000, 125000],
    '2017': [50000, 60000, 70000, 80000, 90000]
}
sales_persons = ['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti']
Sales = pd.DataFrame(data, index=sales_persons)
print(Sales)

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000

In [ ]:
print(Sales.index)

Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'], dtype='object')

In [ ]:
print(Sales.columns)

Index(['2014', '2015', '2016', '2017'], dtype='object')

In [ ]:
print(Sales.dtypes)

2014    float64
2015      int64
2016      int64
2017      int64
dtype: object

In [ ]:
print(Sales.head(2))

        2014   2015   2016   2017
Madhu  100.5  12000  20000  50000
Kusum  150.8  18000  50000  60000

In [ ]:
print(Sales.tail(2))

           2014   2015    2016   2017
Ankit   30000.0  30000  100000  80000
Shruti  40000.0  45000  125000  90000

In [ ]:
data2={"2018":[[160000, 110000, 500000, 340000, 900000]]}
sales2=pd.DataFrame(data2,index=sales_persons)
print(sales2)

                                             2018
Madhu    [160000, 110000, 500000, 340000, 900000]
Kusum    [160000, 110000, 500000, 340000, 900000]
Kinshuk  [160000, 110000, 500000, 340000, 900000]
Ankit    [160000, 110000, 500000, 340000, 900000]
Shruti   [160000, 110000, 500000, 340000, 900000]